@font-face {
  font-family: "PT-sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT-sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.button {
  display: block;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 22px;
  background-color: #83B3D3;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  border: 3px solid transparent;
}

.border:hover {
  background-color: #68A2CA;
}

.button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  background: #68A2CA;
  border-color: #756257;
  border-radius: 10px;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding: 0 70px;
  margin-bottom: -6px;
}

.logo {
  display: block;
  margin-right: 47px;
}

.navigation {
  padding-top: 20px;
  padding-left: auto;
  display: flex;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #000000;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.user-link {
  display: block;
  color: #000000;
  padding-top: 23px;
  padding-right: 23px;
}

.want-button {
  margin-top: 20px;
  margin-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  padding-top: 9px;
  padding-right: 30px;
  padding-bottom: 8px;
  padding-left: 30px;
  margin-top: 13px;
}

.want-button:hover {
  background: #615048;
  border-radius: 4px;
}

.want-button:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.want-button:active {
  background: #615048;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.welcome-sedona {
  background-image: url("../images/index_bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 83px;
}

.welcome-sedona-text {
  margin: 0 auto;
  display: block;
}

.vector-mask {
  position: absolute;
  display: block;
  padding-top: 26px;
}

.main-container {
  flex-grow: 1;
}

.advantages-header {
  padding-top: 63px;
  padding-right: 240px;
  padding-left: 240px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reasons {
  padding-top: 31px;
  padding-right: 240px;
  padding-bottom: 80px;
  padding-left: 240px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-header-item {
  text-transform: uppercase;
}

.advantages-item {
  width: 33.3333%;
  display: block;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 87px;
}

.advantages-item-secondary {
  width: 33.3333%;
  display: block;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 79px;
}

.order {
  display: block;
  margin-bottom: 30px;
}

.first-advantage {
  background-color: #83B3D3;
}

.housing {
  background-color: rgba(131, 179, 211, 0.12);
}

.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.second-advantage {
  background-color: #83B3D3;
}

.third-advantage {
  background-color: rgba(131, 179, 211, 0.12);
}

.fourth-advantage {
  background-color: rgba(131, 179, 211, 0.20);
}

.fifth-advantage {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}


.advantages-header-item-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-header-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-description {
  font-weight: 400;
  color: #333333;
  display: block;
  padding: 0 77px;
}

.text-color-white {
  color: #FFFFFF;
}

.search {
  padding-top: 91px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  padding-bottom: 56px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  height: 411px;
  background-image: url("../images/footer_bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align:center;
}

.main-search-button {
  text-decoration: none;
}

.search-button-sedona {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 15px 170px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
}

.search-button-sedona:hover {
  background: #615048;
  border-radius: 10px;
}

.search-button-sedona:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.search-button-sedona:active {
  background: #615048;
  border-radius: 10px;
  color: #ffffffa3;
}

.search-button-box {
  padding-bottom: 80px;
  padding-left: 280px;
}

.subscribe-inner {
  height: 411px;
  text-align: center;
}

.subscribe-header {
  padding-top: 94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

form {
  width: 800px;
  display: flex;
  margin: 0 auto;

}

.inner-subscribe-header {
  padding-top: 94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.inner-subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.email-box {
  flex-grow: 1;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

.email-box:hover {
  background: #E6E6E6;
  border-radius: 10px 0px 0px 10px;
}

.subscribe-button {
  padding: 15px 0;
  width: 200px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  outline: none;
  font-family: inherit;
}

.subscribe-button:hover {
  background: #68A2CA;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:active {
  background: #68A2CA;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item {
  margin-left: auto;
  padding-right: 29px;
  display: inline-flex;
}

.footer-contacts {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  padding: 40px 240px;
  color: #000000;
  background-color: #FFFFFF;
}

.contacts {
  text-decoration: none;
  color: #000000;
}

.contacts:hover {
  color: #756257;
}

.contacts:focus {
  color: #756257;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.contacts:active {
  color: #756257;
  opacity: 0.3;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.filter-block {
  background-image: url("../images/inner_bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.pages {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding-left: 71px;
}

.home-page {
  color: #FFFFFF;
}

.catalog-products {
  display: flex;
  margin: 0;
}

.catalog-filter {
  display: inline-flex;
  margin: 0;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  padding-top: 41px;
  padding-right: 67px;
  padding-left: 60px;
  width: 100px;
}

.catalog-filter-item {
  padding-left: 13px;
}

.control-input {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-box {
  display: flex;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
}

.pages-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  list-style-type: none;
}

.button-submit {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.found-block {
  display: flex;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 71px;
  padding-right: 192px;
}

.list-style {
  display: block;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.list-style-last {
  margin-right: 72px;
}

.list-style-current {
  border-color: #000000;
}

.select-controller {
  width: 287px;
  margin: 20px;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  border-color: #E6E6E6;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.product-card-button {
  text-decoration: none;
}

.hotel {
  line-height: 23px;
  color: #333333;
  width: 50%;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 50px;
}

.hotel-card {
  padding: 15px;
}

.information-block {
  display: flex;
}

.raiting {
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: right;
  background: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.first-raiting {
  margin-left: 65px;
}

.second-raiting {
  margin-left: 85px;
}

.third-raiting {
  margin-left: 85px;
}

.fourth-raiting {
  margin-left: 105px;
}

.favorite-button {
  margin-left: 26px;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
}

.product-card-price {
  width: 50%;
  text-align: right;
  padding-right: 60px;
}

.favorite-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.favorite-button:hover {
  background: #68A2CA;
  border: 1px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.green-button {
  background-color: #7DB54F;
}

.green-button:hover {
  background-color:#6C9E42;
  border-radius: 4px;
}

.green-button:focus {
  background-color: #6C9E42;
  border: 3px solid #756257;
  border-radius: 4px;
}

.product-card-button:hover {
  background-color: #615048;
  border-radius: 4px;
}

.product-card-button:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.pagination-download-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-top: 17px;
  padding-right: 250px;
  padding-bottom: 17px;
  padding-left: 250px;
  margin: auto;
 }

 .pagination-download-more:hover {
  background: #68A2CA;
  border-radius: 10px;
 }

.pagination-download-more:active {
  background: #68A2CA;
  border-radius: 10px;
}

.pagination-download-more:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 10px;
}

.page-number-container {
  display: flex;
}

.pagination {
  display: flex;
}

.pagination-item {
  border-radius: 4px;
  margin-right: 9px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.pagination-current {
  display: block;
  text-decoration: none;
  color: #000000;
}

.number-button:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.number-button:focus {
  background: #68A2CA;
  border-radius: 4px;
}

.number-button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.current-number-button {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000000;
}

.amount {
  padding-left: 300px;
  margin-top: 33px;
  margin-right: 40px;
}

.select-amount {
  margin-top: 20px;
  margin-bottom: 24px;
  padding-right: 100px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  background-color: #FFFFFF;
  color: #000000;
  display: block;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 40px;
}
.popup-close {
    display: block;
    float: right;
    width: 20px;
    text-align: center;
    background-color: #F2F2F2;
    margin: auto;
    border-radius: 50px;
}
.search-filter {
  flex-direction: column;
  padding: 50px;
}

.search-filter-group {
  display: flex;
  border: none;
}

.number-block {
  display: flex;
}

/* .popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

.form-input-block {
    margin-bottom: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-label {
    font-weight: 700;
    color: #000;
    display: inline-block;
    margin-top: 6px;
    width: 120px;
}
.form-input {
    width: 365px;
    border: none;
    background-color: #f2f2f2;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 45px 10px 13px;
    text-transform: uppercase;
}
.amount-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 55px;
}
.amount-people-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 225px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.amount-form-label {
    width: auto;
    margin-right: auto;
}
.amount-people-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    padding: 0;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
.input-button-minus::after, .input-button-plus::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 13px;
    background-color: #a9a9a9;
    top: 18px;
    left: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input-num {
    -moz-appearance: textfield;
    width: 38px;
    padding: 10px 0;
    text-align: center;
}
.input-button-plus::before {
    content: '';
    display: block;
    position: absolute;
    height: 13px;
    width: 3px;
    background-color: #a9a9a9;
    top: 13px;
    left: 17px;
}
.amount-people-block:nth-child(2) {
    width: 180px;
}
.submit-form-button {
    padding: 16px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: #81b3d2;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    cursor: pointer;
}

.block-title-cross{
    height: 80px;
}
.block-title-cross h2 {
    text-transform: uppercase;
    float: left;
    display: block;
}